<div class="row">
  <div class="col-md-6">
    <h3>April 19th</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>10:00 am</td>  <td>Setup</td> </tr>
      <tr> <td>10:30 am</td>  <td><a href="https://swcarpentry.github.io/shell-novice/">Automating Tasks with the Unix Shell</a></td> </tr>
      <tr> <td>12:00 pm</td>  <td>Lunch break</td> </tr>
      <tr> <td>1:00 pm</td>  <td><a href="https://swcarpentry.github.io/shell-novice/">Automating Tasks with the Unix Shell (Continued)</a></td> </tr>
      <tr> <td>2:30 pm</td>  <td>Wrap-up</td> </tr>
      <tr> <td>3:00 pm</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
